*{
    font-family: Arial, Helvetica, sans-serif;
}


.titre{
    border: 5px black solid;
    width: 50vw;
    margin: auto;
    padding: 15px;
 
}

#texte1{

   font-size: 50px;
    text-align: center;
    
}

#texte2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}




#meme_picture img{
    border: solid black 3px;
}

form{
    padding: 15px;
    font-size: 20px;
    
}


#meme_text {
    background-color: transparent;
    font-size: 40px;
    font-family: "Impact";
    color: white;
    text-shadow: black 0px 0px 20px;
    width: 600px;
    position: absolute;
    left: 15px;
    top: 750px;
}


